
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">William Pilling</h3>
    <nav class="nav nav-masthead app_nav">
      <%= nav_helper 'nav-link' , 'span'%>
      <%= login_helper 'nav-link' %>

    </nav>
  </div>
</div>