  <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>My name is William Pilling and I am a jr ruby on rails developer</p>
          </div>
          

         
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href ="https://github.com/ww11gunny" target="_blank"><%=fa_icon "github"%></a></li>
              <li><a href ="https://www.facebook.com/pillingwilliam"target="_blank"><%=fa_icon "facebook"%></a></li>
              
              
            </ol>
          </div>
        </div>