<h1>About Me</h1>
<hr>
<p>I might just be starting out as a developer but i belive that the best way to go about developing a project is clear communication thoughout the prodject to ensure I deliver what the customer wants and needs. </p>
