<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class = "row">
      <div class = "col-md-4">
   
        <%= image_tag "profilepic.jpeg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
      <div class = "col-md-8">
      <p>I might just be starting out as a developer but i belive that the best way to go about developing a project is clear communication thoughout the prodject to ensure I deliver what the customer wants and needs. </p>

      </div>
    </div>
  </div>

</div>


