<div class="app-card-container">
  <div class="card">

    <h1>Would you like to work together?</h1>
    <hr>
    <div class = "row">
      <div class="col-md-6">
        <h3> Office Address</h3>
        <p>320 N 950 E, Wellington, UT 84542  </p>
        <h3>Phone</h3> 
        <p><%= number_to_phone "4356504428"%></p>
        <h3>Email</h3> 
        <p><a href="mailto:williamlpilling@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.5873435729536!2d-110.71930553480318!3d39.5463621794758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874eb7fe9cb8754f%3A0x76aba7a3b605e087!2s200+N+950+E%2C+Wellington%2C+UT+84542!5e0!3m2!1sen!2sus!4v1498780073861" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div> 